@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Oxygen&family=Quicksand:wght@500;600&family=Roboto&display=swap');

body
 margin 0

.logo
    display flex
    flex-direction row
    justify-content space-between
    align-items center
	width 1920px
	height 100px

.logotip
	color #000
	font-size 30px
  	font-weight 700
	font-family 'Oxygen', sans-serif

.logotip span
	color #57AD56
	font-family 'Quicksand', sans-serif
	font-weight 100
	font-size 30px

.other
	width 88px
	height 60px

